{%extends 'base.html' %}

{% block title %}
        {{ title}}
{% endblock title %}

{% block head %}
    {{ title }} || {{ block.super }}
{% endblock head %}
{% block sidebar %}
        <div class="col-md-3">
            <div class="list-group">
                {% for cat in category %}
              <a href="{% url 'category' cat.pk %}" class="list-group-item list-group-item-action active" aria-current="true">{{cat.title}}</a>
              <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                {%endfor%}
            </div>
        </div>
{% endblock sidebar %}
{% block content%}
        <div class="col-md-9">
            {%for item in post_k%}
            <div class="card mb-3">
              <div class="card-header">
                  Category: <a href="{% url 'category' item.category.pk%}">{{ item.category}}</a>
              </div>
              <div class="card-body">
                  <div class="media">
                      <div class="media-body">
                      {% if item.photo %}
                        <img src="{{ item.photo.url }}" alt="" width="450" class="mr-3">
                      {% else %}
                        <img src="https://picsum.photos/id/1084/450/300?grayscale" alt="" class="mr-3">
                      {% endif %}
                          <h5 class="card-title">{{item.title}}</h5>
                          <p class="card-text">{{item.content|linebreaks|truncatewords:55}}</p>
                          <a href="#" class="btn btn-primary">Read more</a>
                      </div>
                  </div>

              </div>
              <div class="card-footer text-muted">
                 Date of Publication: {{item.created_date |timesince}}
              </div>
            </div>
            {%endfor%}
        </div>
{% endblock content%}